* {
    font-family: roboto;
    box-sizing: border-box;
    font-size: rem(16px);
}

html {
    // font-family: montserrat;
    // line-height: 1.6;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
}