.button-container{
    display: flex;
    align-items: center;
    margin: 4px;
}

    .btn-action {
        
        @include action-btn;

        &.modal-btn{
            width: rem(80px);
            height: rem(31px);
        }
    
        a {
            text-decoration: none;
            color: #fff
        }
    
        @include for-wide-layout {
            font-size: rem(16px);
            width: 300px;
        }
        @include for-narrow-layout{
            font-size: rem(16px);
            width: fit-content;
        }
    }