button {
   
}

form > * {
  
}

.btn-link {
    // border:0;
    // background-color: transparent;
    // text-decoration: underline;
    // transition: .5s;
}
.btn-link:hover {
    // background-color: $clr1;
    // transform: scale(1.1);
}
