.button-container{
    display: flex;
    align-items: center;
    margin: 4px;

    .btn-action {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        color: white;
        margin-inline-end: 6px;
        height: rem(50px);
        background-color: $headerLogoClr;
        border: rem(1px) solid $headerLogoClr;
        border-radius: rem(3px);
        font-size: rem(16px);
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: $LogoHoverClr;
            border-color: $LogoHoverClr;
            
        }

        &.modal-btn{
            width: rem(80px);
            height: rem(31px);
        }
    
        a {
            text-decoration: none;
            color: #fff
        }
    
        @include for-wide-layout {
            font-size: rem(16px);
            width: fit-content;
        }
    }
}