.button-container{
    display: flex;
    align-items: center;
    margin: 4px;

    .center-svg{

        border-radius: 3px;
        height: 31px;
        width: 31px;

        &:hover{
            background-color: $exitBtnHover;
        }

        svg{
            width: 20px;
            height: 20px;
            color: $wsTxtColor;
            margin: 6px 0 0 0px;
        }
    }
}

    .btn-action {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: rem(14px);
        @include action-btn;
        &.modal-btn{
            width: rem(82px);
            height: rem(31px);
            font-size: rem(14px);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500;
        }
    
        a {
            text-decoration: none;
            color: #fff
        }
    
        @include for-wide-layout {
            font-size: rem(14px);
            width: 300px;
        }
        @include for-narrow-layout{
            font-size: rem(14px);
            width: fit-content;
        }
    }