.homepage-footer {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;

    * {
        font-family: 'roboto', sans-serif;
        color: #ffffff;
        font-weight: 400;
    }

    background-color:$FoogterBgClr;

    p {
        font-size: rem(12px);
    }

    span {
        font-size: 16px;
    }

    .upper-section {
        grid-column: 2/3;

        display: flex;
        justify-content: center;
        align-items: center;
        .footer-logo {
            padding: rem(16px) rem(16px) 0;
            align-items: baseline;
            line-height: 3;
            display: flex;
            justify-content: space-around;
            align-items: normal;

            .inner-logo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: rem(16px) (16px) 0 0;
            }

            .footer-login-btn {
                text-align: start;
                margin-bottom: rem(20px);
            }

            img {
                width: rem(120px);
            }
        }

        .footer-info {
            padding: rem(16px);

            ul {
                display: flex;

            }

            li {
                line-height: 2;
                padding: rem(16px);

            }
        }
    }

    .footer-seperator {
        border-top: 1px solid rgb(80, 95, 121);
        width: 98%;
    }

    .lower-section {
        grid-column: 2/3;

        display: flex;
        align-items: center;
        justify-content: center;

        div {
            padding: rem(16px);
        }

        .language {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }

        .social-links {
            justify-content: end;
            display: flex;
            gap: 10px;
            margin-inline-start: auto;
        }

        svg {
            width: rem(12px);
            fill: #ffffff;
        }

        .social-btn {
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            display: flex;
            height: rem(28px);
            width: rem(28px);
        }

        a {
            font-size: rem(12px);
        }

        .policies {
            justify-content: start;
            display: flex;
            gap: 1.5rem;
            align-items: center;
            flex:0.8;

        }
    }
}