.homepage {
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;

    .homepage-signup {
        grid-column: 1/-1;
    }

    .hp-footer {
        grid-column: 1/-1;
    }

    header {
        grid-column: 2/3;
    }

    .homepage-header {

        height: rem(60px);
        display: flex;
        max-width: 1320px;

        img {
            max-width: rem(120px);
            cursor: pointer;
        }

        button {
            font-size: rem(19.2px);
            padding: rem(8px) rem(24px);
        }

        a {
            font-size: 1.2rem;
        }

        .homepage-header-links {
            display: flex;
            align-items: center;

            .homepage-header-btn {
                background-color: $headerLogoClr;
                height: rem(60px);
                min-width: 205px;
                max-width: max-content;
                color: #ffffff;

            }

            .hompage-header-login-btn {
                color: $wsTxtColor;
            }

        }
    }

    .btn-call-to-action {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: rem(14px);
        font-weight: 500;
        @include action-btn;

        a {
            text-decoration: none;
            color: #fff
        }

        @include for-wide-layout {
            font-size: rem(14px);
            width: 500px;
        }

        @include for-narrow-layout {
            font-size: rem(18px);
            width: rem(300px);
        }
    }


    .homepage-container {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1100px 1fr;

        background: url('//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg') center bottom -0.5px / 100% 14.6% no-repeat scroll padding-box border-box,
            linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);

        .homepage-hero {
            margin: auto;
            flex-direction: column;
            align-items: center;
            text-align: center;

            grid-column: 2/3;
            justify-content: space-between;
            width: 100%;

            @include for-narrow-layout {}

            .homepage-hero-txt {
                flex: 0 0 auto;
                color: #fff;

                .homepage-hero-header {
                    line-height: 1.25;
                    font-size: rem(38px);
                    margin-block-end: rem(8px);
                    font-family: 'charlie-semibold';

                    @include for-normal-layout {
                        font-size: rem(48px);
                    }
                }

                .homepage-hero-p {
                    font-family: charlie-regular, sans-serif;
                    font-size: rem(20px);
                    line-height: normal;
                    letter-spacing: normal;
                    margin-block-end: rem(24px);
                    font-weight: 400;

                    @include for-normal-layout {
                        font-size: rem(20px);
                        line-height: 1.5;
                        letter-spacing: rem(1.05px);
                    }
                }

                @include for-narrow-layout {
                    // padding: rem(60px) rem(15px);
                    max-width: rem(720px);
                }

                @include for-wide-layout {
                    // padding: rem(128px) rem(16px);
                    max-width: rem(500px);
                }
            }

            .homepage-img {
                display: flex;
                padding-inline: rem(40px);

                img {
                    max-width: 100%;
                    margin: auto;

                    @include for-mobile-layout {
                        width: 100%;
                    }

                    @include for-narrow-layout {
                        max-width: 80%;
                    }

                    @include for-wide-layout {
                        height: auto;
                        scale: 1.2;
                        height: 80%;
                        max-width: rem(528px);
                    }
                }

                @include for-wide-layout {
                    padding: rem(128px) 0 0;
                    margin: 0 0 0 rem(-190px);
                }
            }

            @include for-wide-layout {
                flex-direction: row;
                justify-content: space-between;
                padding-inline: 0;
                text-align: left;
            }
        }
    }

    .homepage-productivity {
        grid-column: 1/-1;

        display: grid;
        grid-template-columns: 1fr 1100px 1fr;

        background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
        background-blend-mode: normal;
        padding-block: rem(16px);

        .productivity-container {
            grid-column: 2/3;
            width: 100%;
            color: $txtClr;

            .productivity-text {
                flex-direction: column;
                color: $productivityText;

                .trilili-101 {
                    font-family: charlie-semibold, sans-serif;
                    margin-block-end: rem(8px);
                    font-size: rem(16px);

                    @include for-normal-layout {
                        font-size: rem(16px);
                    }
                }

                .productivity-p {
                    font-size: rem(20px);
                    line-height: 1.5;

                    @include for-wide-layout {
                        padding-inline: 0;
                        max-width: rem(664px);
                    }
                }

                h2 {
                    font-size: rem(28px);
                    font-family: charlie-semiBold;
                    margin: 0 0 rem(8px);

                    line-height: rem(35px);

                    @include for-normal-layout {
                        font-size: rem(36px);
                        line-height: normal;
                    }
                }

                .productivity-text {
                    padding: 0 0 rem(16px);

                    p {
                        font-family: 'charlie-regular', sans-serif;
                        font-size: rem(16px);
                        color: #091E42;

                        @include for-narrow-layout {
                            max-width: rem(700px);
                            font-size: rem(20px);
                            letter-spacing: rem(.95px);
                            line-height: rem(30px);
                        }
                    }
                }
            }
        }
    }
}