.homepage {
    .homepage-header {
        height: rem(60px);
        display: flex;
        max-width: 1320px;
        // font-family: CharlieText-regular;
    }

    .homepage-header-btn {
        // align-self: stretch;
        // align-items: center;
        // color: #fff;
        // display: flex;
        // height: 100%;
        // padding: 0.5rem 1.5rem;
        // text-decoration: none;
        background-color: $headerLogoClr;
        height: max-content;
        min-width: 205px;
        max-width: max-content;

        a {
            font-size: 1.2rem;
            // background-color: $headerLogoClr;
        }
    }

    .homepage-container {
        background: url('//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg') center bottom -0.5px / 100% 14.6% no-repeat scroll padding-box border-box,
            linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);

        // margin-block-end: rem(21px);
        // padding-block-start: rem(68px);

        //hero
        .homepage-hero {
            margin: auto;
            flex-direction: column;
            align-items: center;
            text-align: center;

            @include for-narrow-layout {
                max-width: rem(1137px);

            }

            .homepage-hero-txt {
                flex: 0 0 auto;
                color: #fff;
                padding: rem(60px) rem(19px);

                .homepage-hero-header {
                    line-height: 1.25;
                    font-size: rem(38px);
                    margin-block-end: rem(8px);
                    font-family: 'charlie-semibold';

                    @include for-normal-layout {
                        font-size: rem(48px);
                    }
                }

                .homepage-hero-p {
                    font-family: charlie-regular, sans-serif;
                    font-size: rem(20px);
                    line-height: normal;
                    letter-spacing: normal;
                    margin-block-end: rem(24px);
                    font-weight: 400;

                    @include for-normal-layout {
                        font-size: rem(20px);
                        line-height: 1.5;
                        letter-spacing: rem(1.05px);
                    }
                }

                @include for-narrow-layout {
                    padding: rem(60px) rem(15px);
                    max-width: rem(720px);
                }

                @include for-wide-layout {
                    padding: rem(128px) rem(16px);
                    max-width: rem(500px);
                }
            }

            .homepage-img {
                display: flex;
                padding-inline: rem(40px);

                img {
                    max-width: 100%;
                    margin: auto;
                    @include for-mobile-layout{
                        width: 100%;
                    }
                    @include for-narrow-layout {
                        max-width: 80%;
                    }

                    @include for-wide-layout {
                        height: auto;
                        scale: 1.2;
                        height: 80%;
                        max-width: rem(528px);
                    }
                }

                @include for-wide-layout {
                    padding: rem(128px) rem(16px) 0;
                    margin: 0 0 0 rem(-190px);
                }
            }

            @include for-wide-layout {
                flex-direction: row;
                justify-content: space-between;
                padding-inline: 0;
                text-align: left;
            }

        }
    }

    .homepage-productivity {
        background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
        background-blend-mode: normal;
        padding: rem(16px);

        .productivity-container {
            // font-family: charlie-regular;
            color: $txtClr;
            margin-inline: auto;
            padding-inline: rem(9px);
            max-width: rem(1140px);



            .productivity-text {
                flex-direction: column;
                color: $productivityText;

                .trilili-101 {
                    font-family: charlie-semibold, sans-serif;
                    margin-block-end: rem(8px);
                    font-size: rem(16px);

                    @include for-normal-layout {
                        font-size: rem(16px);
                    }
                }

                .productivity-p {
                    font-size: rem(20px);
                    line-height: 1.5;

                    @include for-wide-layout {
                        padding-inline: 0;
                        max-width: rem(664px);
                    }
                }

                h2 {
                    font-size: rem(28px);
                    font-family: charlie-semiBold;
                    margin: 0 0 rem(8px);

                    line-height: rem(35px);

                    @include for-normal-layout {
                        font-size: rem(36px);
                        line-height: normal;
                    }
                }


                .productivity-text {
                    padding: 0 0 rem(16px);

                    p {
                        font-family: 'charlie-regular', sans-serif;
                        font-size: rem(16px);
                        color: #091E42;

                        @include for-narrow-layout {
                            max-width: rem(700px);
                            font-size: rem(20px);
                            letter-spacing: rem(.95px);
                            line-height: rem(30px);
                        }
                    }
                }
            }
        }
    }




}