.header-color {
  background: rgb(88 88 88 / 24%);
  backdrop-filter: blur(4px);

  position: relative;
  flex-wrap: wrap;

  gap: 4px;
  align-items: center;
  padding: 0 10px 0 16px;
  width: 100%;

  .board-filter-container {
    height: calc(100vh - 48px);
    overflow: auto;
    position: relative;
  }

  .BoardFilter {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
  }

  .board-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .board-filter-btn.filter {
      button {
        padding: 6px !important;
      }

      svg {
        margin-right: 8px;
        fill: #ffffff;
      }
    }

    .board-filter-btn.dots {
      padding: 4px;

      svg {
        width: rem(20px);
        height: rem(20px);
      }
    }

    .board-filter-btn.star {
      svg {
        fill: #ffffff;
      }
    }

    * {
      font-family: system-ui;
      font-weight: 500;
      font-size: 14px;
    }

    .board-visibility {
      display: flex;
      align-items: center;
    }

    .header-title {
      line-height: rem(32px);
      font-size: rem(18px);

      &:hover {
        cursor: pointer;
        background-color: $buttonHoverClr;
      }
    }

    input {
      font-size: rem(18px);
      font-size: rem(18px);
      border: none;
      background-color: transparent;
      outline: none;
      color: white;
      border-radius: 3px;
      cursor: pointer;

      &:focus {
        background-color: white;
        height: rem(32px);
        border: rem(1.8px) solid #0c66e4;
        padding: 0 rem(10px);
        color: black;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
    }

    .dashboard-btn {
      background-color: #DFE1E6;
      color: $groupHeader;
      padding: 6px;

      span {
        margin-left: 5px;
      }
    }

    svg {
      width: rem(15px);
      height: rem(15px);

      &:hover {
        @keyframes scaleAnimation {
          0% {
            transform: scale(1);
          }

          100% {
            transform: scale(1.2);
          }
        }

        animation: scaleAnimation 1s ease-in-out;
      }
    }

    button {
      display: flex;
      justify-content: center;
      background: none;
      height: rem(32px);
      border: none;
      font-size: rem(14px);
      border-radius: rem(3px);
      min-width: rem(32px);
      margin-inline: 2px;

      &:not(.share-btn) {
        padding: rem(6px);
      }

      &:hover {
        cursor: pointer;
        background-color: $buttonHoverClr;
      }
    }

    .group-editing {
      .seperator {
        border-left: 1px solid hsl(0deg 0% 100% / 16%);
        height: rem(16px);
        margin: 8px 4px 8px 4px;
        display: inherit;
      }
    }

    .board-filter {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(6px) 0 rem(6px) 0;

      .share-btn {
        padding: rem(6px) rem(12px) rem(6px) rem(8px);
        margin-bottom: rem(2px);

        span {
          margin: 0 0 0 4px;
        }

        width: rem(75px);
      }

      .full-btn {
        background-color: #DFE1E6;
        color: $wsTxtColor;
        font-weight: 400;
        height: rem(32px);
        justify-content: center;

        &:hover {
          background-color: #ffffff;
        }
      }
    }

    .img {
      gap: rem(4px);
      position: relative;
      line-height: 0.3;

      .member-img {
        cursor: pointer;
        margin-inline-start: rem(-4px);
        width: rem(28px);
        height: rem(28px);
        border-radius: 50%;
        left: rem(40px);
      }
    }

    >* {
      font-weight: 700;
      color: white;
    }

    .members {
      margin: 0 rem(2px) 0 0;

      img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .chatGpt-btn {
    padding-inline-end: 10px !important;

    svg {
      width: 20px;
      height: 20px;
      margin: 2px 2px 0 0;
    }
  }

  .dashboard-btn {
    padding-inline-start: 8px !important;

    svg {
      margin-top: 2px;
    }
  }
}