.board-activity {

    .back-btn {
        @include board-menu-back-btn;
        top: 11px;
        left: 12px;
    }

    .activity-container {
        padding: 8px 0;

        .user-igm {
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-inline-end: 10px;

            font-size: rem(14px);
            color: white;
            cursor: pointer;
        }

        .user-igm:hover {
            opacity: 0.8;
        }

        .activity-content {
            flex-wrap: wrap;
            align-items: baseline;

            p {
                font-size: rem(14px);
                font-weight: normal;
                display: inline;
            }

            .user-name {
                font-weight: 700;
                cursor: pointer;
                margin-inline-end: 5px;
                color: $FoogterBgClr;
            }

            span {
                color: $focusInput;
                cursor: pointer;
            }

            span:hover {
                text-decoration: underline;
            }
        }

        .time-ago {
            color: $wsIconColor;
        }

        .time-ago * {
            font-size: rem(12px);
        }


        .activity-content * {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        }
    }
}