.board-list-container {
    flex-grow: 1;

    h1 {
        margin-bottom: 40px;
    }

    .boards-header {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 11px;
    }

    .board-list {
        display: flex;
        flex-wrap: wrap;

        &>* {
            flex-grow: 1;
        }

        .board-item {
            margin: 0 2% 2% 0;
            height: 112px;

            .board-item-content {
                display: block;
                height: 96px;
                background-color: rgba(255, 159, 75, 0.568);
                max-width: 190px;
                min-width: 145px;
                border-radius: 3px;
            }
        }

    }
}