.board-details{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 56px 1fr;

    height: calc(100vh - rem(48px));
    @include fixed-img-url;
    overflow-x: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

}

.dragged{
    rotate: 5deg;
    opacity: 0.8;
}