.change-photo-background{

    .photos-bgc{
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        img{
            @include fixed-img-url;
            height: 96px;
            width: 148px;
            border-radius: 8px;
            cursor: pointer;
        }

        img:hover{
            opacity: 0.8;
        }

        img:nth-child(odd){
            margin-inline-start: auto
        }
    }

    .back-btn{
        @include board-menu-back-btn;
        top: 11px;
        left: 12px;
    }
}