.change-color-background {

    .colors-bgc {
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        button {
            height: 96px;
            width: 145px;
            border-radius: 8px;
        }

        button:hover {
            opacity: 0.8;
        }

        button:nth-child(odd){
            margin-inline-start: auto
        }
    }

    .back-btn {
        @include board-menu-back-btn;
        top: 11px;
        left: 12px;
    }
}