/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: calc($mobile-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (max-width: calc($mobile-breakpoint + 140px)) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (max-width: calc($narrow-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (max-width: calc($normal-breakpoint + 40px)) {
    @content;
  }
}

@mixin fixed-img-url() {
  background-position: center center;
  background-size: cover;
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  >img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin btns-header-ops {

  &:hover {
    background-color: $headerBtnClr;
    border-radius: 3px;
  }
}

@mixin btns-header-user {

  &:hover {
    background-color: $headerBtnClr;
    border-radius: 100%;
  }
}

@mixin button-select-bgc($width, $height, $marginBottom) {
  width: $width;
  height: $height;
  margin: 0;
  margin-bottom: $marginBottom;
}

@mixin member-img {
  width: rem(28px);
  height: rem(28px);
  border-radius: 50%;
}


@mixin btns-group {
  font-size: rem(16px);
  height: 32px;
  background-color: #d0d4db;
  border-radius: 8px;
}

@mixin input-task-feature {
  padding: 8px 12px;
  border-radius: 3px;
  font-size: rem(14px);
  border: none;
  line-height: 20px;
  outline: none;
  box-shadow: inset 0 0 0 2px $taskInput;
  width: 100%;

  &::placeholder {
    color: $groupHeader ;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $blue1;
  }
}

@mixin btn-gray-bgc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $taskItemsBgc ;
  height: 32px;
  border-radius: 3px;
  transition: all 0.1s;
  color: $wsTxtColor;
  cursor: pointer;
  margin: 15px 0 0 0;
  font-size: rem(14px);
  font-weight: 500;

  &:hover {
    background-color: $exitBtnHover;
  }
}

@mixin action-btn {
  font-family: 'CharlieText-regular', sans-serif;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: white;
  margin-inline-end: 6px;
  height: rem(50px);
  background-color: $actionBtnClr;
  border: rem(1px) solid $actionBtnClr;
  border-radius: rem(3px);
  font-size: rem(16px);
  transition: 0.2s ease-in-out;
  padding: rem(11.2px) rem(16px) rem(12.8px);

  &:hover {
    background-color: $LogoHoverClr;
    border-color: $LogoHoverClr;
  }
}

@mixin blue-action-btn {
  width: 53px;
  height: 32px;
  background-color: $actionBtnClr;
  border-color: $actionBtnClr;
  color: white;
  border-radius: 3px;
  font-size: rem(14px);

  &:hover {
    background-color: $LogoHoverClr;
    border-color: $LogoHoverClr;
  }
}

@mixin red-action-btn {
  width: 53px;
  height: 32px;
  background-color: $deleteBtnBgc;
  border-color: $deleteBtnBgc;
  color: white;
  border-radius: 3px;
  font-size: rem(14px);

  &:hover {
    background-color: $deleteBtnHover;
    border-color: $deleteBtnHover;
  }
}

@mixin back-and-exit-btns {
  position: absolute;
  cursor: pointer;
  padding: 5px 7px;

  &:hover {
    background-color: $exitBtnHover;
    border-radius: 8px;
  }
}

@mixin board-menu-back-btn {
  position: absolute;
  cursor: pointer;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  padding: 0px;
  top: -57px;
  left: 0px;
  margin-top: 2px;

  &:hover {
    background-color: $taskItemsBgc;
  }
}

@mixin groupFeatureBtn {
  background-color: #091e4224;
  border-radius: 8px;
}

@mixin custom-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  display: flex;
  align-items: center;
  margin-inline-end: -7px;
  cursor: pointer;

  &:before {
    content: url('data:image/svg+xml;utf8,<svg width="16px" height="16px" viewBox="-3 -4 16 16" fill="white" xmlns="http://www.w3.org/2000/svg" focusable="false" role="presentation"><path d="M1.49022 3.21486C1.2407 2.94412 0.818938 2.92692 0.548195 3.17644C0.277453 3.42597 0.260252 3.84773 0.509776 4.11847L2.91785 6.73131C3.2762 7.08204 3.80964 7.08204 4.14076 6.75092C4.18159 6.71082 4.18159 6.71082 4.38359 6.51218C4.57995 6.31903 4.79875 6.1037 5.03438 5.87167C5.70762 5.20868 6.38087 4.54459 7.00931 3.92318L7.0362 3.89659C8.15272 2.79246 9.00025 1.9491 9.47463 1.46815C9.73318 1.20602 9.73029 0.783922 9.46815 0.525367C9.20602 0.266812 8.78392 0.269712 8.52537 0.531843C8.05616 1.00754 7.21125 1.84829 6.09866 2.94854L6.07182 2.97508C5.4441 3.59578 4.77147 4.25926 4.09883 4.92165C3.90522 5.11231 3.72299 5.29168 3.55525 5.4567L1.49022 3.21486Z"></path></svg>');
    font-size: 15px;
    color: transparent !important;
    width: 16px;
    height: 16px;
    margin-right: 7px;
    box-shadow: inset 0 0 0 2px #091e4224;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: white;
    transition: all 0.2s;
  }

  &:checked::before {
    background: $actionBtnClr;
    color: white !important;
  }
}

