@font-face {
    font-family: roboto;
    src: url('src//assets//fonts//roboto//Roboto-Regular.ttf');
}

@font-face {
    font-family: 'charlieBold';
    src: url('.//fonts//charilie//charlie-display-bold.ttf');
}

@font-face {
    font-family: 'charlie-regular';
    src: url('.//assets//fonts//Charlie//CharlieText-Regular.ttf');
}

@font-face {
    font-family: 'charlie-Display-regular';
    src: url('src//assets//fonts//Charlie//CharlieDisplay-Regular.ttf');
}

@font-face {
    font-family: 'charlie-semibold';
    src: url('.//fonts//charilie//charlie-text-semibold.ttf');
}

@font-face {
    font-family: SegoeUI Regular;
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../../fonts/Segoe-UI-Font/SegoeUI.woff') format('woff');
}

@font-face {
    font-family: 'charlie-semibold'; // Replace with your desired font name
    src: url('src//assets//fonts//Charlie//CharlieDisplay-Semibold.woff2')format('woff2'),
}