@font-face {
    font-family: roboto;
    src: url(./fonts/roboto/roboto.ttf);
}
@font-face {
    font-family: charlieBold;
    src: url(./fonts/charlie/charlie-display-bold.ttf);
}

@font-face {
    font-family: charlie-regular;
    src: url(./fonts/charlie/charlie-display-regular.ttf);
}

@font-face {
    font-family: charlie-semibold;
    src: url(./fonts/charlie/charlie-text-semibold.ttf);
}
// @font-face {
    // font-family: montserrat;
    // src: url(./fonts/Montserrat/Montserrat-Regular.ttf);
// }