@font-face {
    font-family: roboto;
    src: url(./fonts/roboto.ttf);
}
@font-face {
    font-family: charlie-bold;
    src: url(../../fonts/charlie-display-bold.ttf);
}

@font-face {
    font-family: charlie-regular;
    src: url(../../fonts/charlie-display-regular.ttf);
}

@font-face {
    font-family: charlie-semibold;
    src: url(../../fonts/charlie-text-semibold.ttf);
}
// @font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }