// Colors
$actionBtnClr: #0c66e4; ///svg color

//header
$headerBtnClr: rgba(220, 223, 228, 1);
$headerLogoClr:#227ffa;
$LogoHoverClr:rgb(7, 71, 166);
$focusInput: #0C66E4;

//group
$groupHeader: #172B4D;
$groupMoreActions: #44546F; //add a cart, 3 dots (...), create from template 
$groupBgc: #F1F2F4;
$bgcBtnAddGroup: rgba(216, 215, 215, 0.34);
$bgcBtnAddGroupHovered: rgba(223, 217, 217, 0.18);

//task
$taskBgc: #ffffff;
$taskBgcHover: #F1F2F4;
$scrollbarClrY:#c5c9d1;
$scrollbarBgcY:#e4e6ea;
$taskItemsBgc: #091E420F;
$deleteBtnBgc: #ca3521;
$deleteBtnHover: #ae2a19;
$labelPreviewBgc: #f7f8f9;

//taskDetails
$overlayBgc: rgba(0, 0, 0, 0.663);
$taskInput: #dfe1e6;
$exitBtn: #626f86;
$exitBtnHover: #091e4224;
$checkBoxColor: #091e4224;

// $boxShadowTask: 0 1px 0 #091e4240;
$boxShadowTask: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;
$boxShadowGroup: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;

// taskDashboard
$btnBgcTaskDashDone: #1f845a;
$btnTaskDashNotDone:  #ffedeb;
$btnTaskDashNotDoneFont: #ae2a19;


//workspace
$wsTxtColor: #172B4D;
$wsIconColor: #44546F;
$wsEmptyBoardBgc: #091e420a;
$wsEmptyBoardBgcHover: #DCDFE4;
$wsFadeColor: hsla(0, 0%, 0%, 0.15);
$wsFadeColorHover: rgba(0, 0, 0, 0.23);
$editTaskBtnHover: rgb(219, 219, 219);

$requiredField: #e34935;
$blue1: #388bff;

//text
$txtClr:#091e42;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$card-width: 272px;

//boardFilter
$buttonHoverClr:#A6C5E229;
//Homepage
$productivityText:#091E42