// @include for-wide-layout {
//     .homepage-productivity {
//         grid-template-columns: 1fr 960px 1fr;
//         * {
//             background-color: red;

//         }
//     }
// }

@media (max-width: 1200px) {

    .homepage {

        .homepage-productivity {
            grid-template-columns: 1fr 960px 1fr;

            .productivity-container .productivity-text {
                width: 490px;
            }
        }

        .homepage-container {
            grid-template-columns: 1fr 960px 1fr;

            .homepage-hero .homepage-hero-txt {
                width: 400px;
            }
        }


        .productivity-slider-container .cards .card {
            width: 287px;
        }
    }


}

@media (max-width: 1000px) {

    .homepage .homepage-container {
        height: 670px;
        margin-bottom: 180px;
        padding-top: 50px;

        .homepage-hero {
            flex-direction: column;
            gap: 30px;

            .homepage-hero-txt {
                width: 615px;
                text-align: center;
            }

            .homepage-img img {
                height: 595px;
            }
        }
    }

    .homepage .homepage-productivity {
        display: flex;
        flex-direction: column;

        .productivity-container {
            justify-content: center;

            .productivity-text {
                width: 688px;
            }
        }
    }

    .homepage .productivity-slider-container {
        justify-content: center;

        .slider-layout {
            flex-direction: column;
            align-items: center;
        }

        .images-slider img {
            width: 688px;
        }

        .cards {
            flex-direction: row;
            width: 688px;

            h4 {
                text-align: center;
            }

            p {
                display: none;
            }
        }
    }

    .homepage {

        .homepage-container {
            display: flex;
            justify-content: center;
        }

        .homepage-signup-container {
            background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0%/auto repeat scroll padding-box border-box rgb(82, 67, 170);
            height: 215px;
        }

        .btn-action {
            max-width: 158px;
        }
    }
}

@media (max-width: 770px) {

    .homepage .homepage-container .homepage-hero {

        .homepage-hero-txt .homepage-hero-header {
            font-size: rem(32px);
            max-width: 500px;
        }

        .homepage-img img {
            max-height: 595px;
            height: auto;
        }

        .homepage-hero-txt {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .homepage-signup-container .signup-content {
        width: 100%;

        form {
            width: 100%;

            .email-input {
                flex-grow: 1;
                max-width: 376px;
            }
        }

        h2 {
            font-size: rem(32px);
        }
    }

    .homepage .homepage-productivity{
        .productivity-container {
            max-width: 508px;
            margin: auto;
    
            .productivity-text {
                width: 100%;
                padding: 16px;
            }
        }

        .productivity-slider-container {
            max-width: 508px;
            padding: 16px;
            margin: auto;
    
            .slider-layout{
                width: 100%;
                min-height: auto;
                margin-bottom: 20px;

                *{
                    width: 100%;
                }
            }
        }
    }
}