.custom-textarea {
    width: 100%;
    // margin: rem(8px) rem(4px) 0 rem(4px);
    height: rem(70px);
    resize: none;
    box-shadow: $boxShadowTask;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    outline: none;
    overflow-y: hidden;
}