.task-card{
    overflow: hidden;
    padding: 8px 8px 4px 12px;
    position: relative;
    z-index: 10;
    border-radius: 8px;
    cursor: pointer;

    &:hover{
        opacity: 1;
        background-color: #d7d8da;
    }

}