.task-list-container{
  max-height: none;
}

.group-tasks{
  max-height: 73vh;
  overflow-y: auto;

    .task-list{
      gap: 7px;
      height: 100%;
      width: 100%;
      vertical-align: top;
      border-radius: 3px; 
      margin: 1px 0;
      padding: 0 4px;

      .list-item{
        min-height: rem(36px);
      }
    }
  
}

::-webkit-scrollbar {
    width: 9px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbarClrY;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $scrollbarBgcY;
    border-radius: 5px;
  }

