.feature-dates {

    p{
        font-size: rem(12px);
        font-weight: 700;
    }

    p.clicked{
        color: #0c66e4;
    }

    .start-date,
    .due-date {
        gap: 10px;
        margin: 5px 0 10px 0;
    }

    input[type=text] {
        @include input-task-feature;
        box-shadow: inset 0 0 0 2px $blue1;
        width: 90px;
        height: 32px;
        padding: 7px;
    }

    input[type=checkbox] {
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
        display: flex;
        align-items: center;
        margin-inline-end: -7px;
    }

    input[type=checkbox]:before {
        content: url('data:image/svg+xml;utf8,<svg width="16px" height="16px" viewBox="-3 -4 16 16" fill="white" xmlns="http://www.w3.org/2000/svg" focusable="false" role="presentation"><path d="M1.49022 3.21486C1.2407 2.94412 0.818938 2.92692 0.548195 3.17644C0.277453 3.42597 0.260252 3.84773 0.509776 4.11847L2.91785 6.73131C3.2762 7.08204 3.80964 7.08204 4.14076 6.75092C4.18159 6.71082 4.18159 6.71082 4.38359 6.51218C4.57995 6.31903 4.79875 6.1037 5.03438 5.87167C5.70762 5.20868 6.38087 4.54459 7.00931 3.92318L7.0362 3.89659C8.15272 2.79246 9.00025 1.9491 9.47463 1.46815C9.73318 1.20602 9.73029 0.783922 9.46815 0.525367C9.20602 0.266812 8.78392 0.269712 8.52537 0.531843C8.05616 1.00754 7.21125 1.84829 6.09866 2.94854L6.07182 2.97508C5.4441 3.59578 4.77147 4.25926 4.09883 4.92165C3.90522 5.11231 3.72299 5.29168 3.55525 5.4567L1.49022 3.21486Z"></path></svg>');
        font-size: 15px;
        color: transparent !important;
        width: 16px;
        height: 16px;
        margin-right: 7px;
        box-shadow: inset 0 0 0 2px #091e4224;
        border-radius: 2px;
        box-sizing: border-box;
    }

    input[type=checkbox]:checked::before{
        background: $actionBtnClr;
        color: white !important;
    }

    .save-btn{
        @include blue-action-btn;
        width: 100%;
    }

    .remove-btn{
        @include btn-gray-bgc;
        width: 100%;
        margin-bottom: 10px;
    }

    .save-btn, .remove-btn{
        margin-top: 8px;
    }

    
    input.not-clicked{
        background-color: #091e4208;
        color: #091e424f;
        box-shadow: inset 0 0 0 0px #091e4208 !important;
        cursor: not-allowed;
    }

    // .clicked{
    //     // background-color: #091e4208;
    //     box-shadow: inset 0 0 0 0px #091e4208;
    //     // cursor: not-allowed;
    // }
}


//changes on MUI classes

.MuiPickersToolbar-root.MuiPickersLayout-toolbar {
    display: none;
}

.MuiDayCalendar-weekContainer.css-flbe84-MuiDayCalendar-weekContainer {
    justify-content: flex-start;
}

.css-i5q14k-MuiDayCalendar-header.css-i5q14k-MuiDayCalendar-header {
    justify-content: flex-start;
}

.MuiPickersCalendarHeader-labelContainer.css-cyfsxc-MuiPickersCalendarHeader-labelContainer {
    margin-inline-end: 0;
}

.MuiDialogActions-root.MuiDialogActions-spacing {
    display: none;
}

.MuiPickersCalendarHeader-label.css-dplwbx-MuiPickersCalendarHeader-label {
    color: $wsTxtColor;
    font-size: rem(14px);
}

.MuiPickersCalendarHeader-root.css-nk89i7-MuiPickersCalendarHeader-root {
    max-width: 280px;
    justify-content: center;
}

.MuiDateCalendar-root.css-1q04gal-MuiDateCalendar-root{
    height: 300px;
}
