.dynamic-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.dynamic-feature-container {
  
    .scroll{
        max-height: 460px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    p {
        color: $groupHeader;
        font-size: rem(14px);
        font-weight: 600;
        color: $groupMoreActions;
        z-index: 40;
    }

    position: absolute;
    z-index: 100;

    width: 304px;
    background-color: white;

    // padding: 0 12px 12px 12px;
    border-radius: 8px;

    .dyn-cmp-header {
        font-weight: 600;
        // padding: 15px;
        text-align: center;
    }

    .exit-btn {
        @include back-and-exit-btns;
        right: 8px;
        top: 6px;

        svg {
            width: 16px;
            height: 16px;
            margin: 3px 1px 0px 2px;
            color: $exitBtn;
        }
    }

    .dynamic-feature-content {
        * {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: rem(14px);
        }

        padding: 0 12px 12px 12px;
    }
  
}

.disabled {
    background: none !important;
    color: #b3b9c4 !important;
    cursor: default;
    pointer-events: none;
}