.task-features{
    

    div{
        display: flex;
        gap: 6px;
        cursor: pointer;

        padding: 6px 12px;
        border-radius: 3px;
        margin-top: 8px;
        background-color: $taskItemsBgc;

        transition: all 0.1s;

        p{
            color: $groupHeader;
            font-weight: bold;
        }

        svg{
            height: 16px;
        }

        &:hover{
            background: $scrollbarClrY;
        }
    }

}