.add-group-list{
    background-color: $groupBgc;
    width: rem(272px);
    border-radius: 12px;
    height: 88px;
    margin-inline: 12px;
    
    input{
        margin: 4px;
        height: 32px;
        width: rem(256px);
        padding: 5px;
        border-color: transparent;
        outline: 2px solid $focusInput;
        border-radius: 3px;

        &:focus-visible {
            outline: 2px solid $focusInput;
            border-radius: 3px;
        }
    }
}