.copy-list {

    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: $wsIconColor;
    }


    h3 {
        font-size: rem(12px);
        font-weight: 700;
        margin: 12px 0 8px 0;
    }

    input,
    textarea {
        @include input-task-feature;
        height: rem(72px);
        margin: 0px 0 6px;
    }


    .remove-color-btn {
        @include btn-gray-bgc;
        margin: 8px 0;
        gap: 8px;

        .create-new-label {
            font-weight: 600;
            color: $wsTxtColor;
        }

        svg {
            width: 14px;
        }
    }

    .save-delete-btns {
        button {
            font-weight: 500;
            @include blue-action-btn;
            width:max-content;
            margin:rem(8px) rem(4px) 0px 0px;
            padding:rem(6px) rem(24px)rem(6px) rem(24px)
        }
        
            .back-btn {
                @include back-and-exit-btns;
                position: absolute;
                top: 7px;
        
                svg {
                    margin: 2px 0 0 0;
                }
        
            }
    }

}
.group-feature-header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: rem(14px);
    font-weight: 600;
}
// .GroupFeature-btn{
//     @include groupFeatureBtn;
//     svg{
//     width: rem(32px);
//     color:$groupMoreActions;
//     }
    
// }