.groups-list-container{
    overflow-x: auto;
    height: calc(100vh - 104px);
    display: flex;
    padding: 12px;
    
    li{
        width: 100%;
        display: inline-block;
        white-space: nowrap
    }

    .groups-list{
        align-items: flex-start;
        display: flex;
        gap: 12px;
    }
}