.groups-list-container{
    display: flex;
    padding: 12px;
    li{
        width: 100%;
        display: inline-block;
        white-space: nowrap
    }

    .groups-list{
        display: flex;
        gap: 12px;
    }
    
    .group-card{
        width: 272px;
        background-color: $groupBgc;
        border-radius: 12px;
        // margin: 6px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
    

        
    }
}