.group-card{
        width: 272px;
        background-color: $groupBgc;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        box-shadow: $boxShadowGroup, $boxShadowGroup;
        padding: 4px;

    .group-header, .group-footer{
        height: 48px;
    }
    
    .group-header{
        padding-inline-start: 12px;
        padding: 0 4px 4px 4px ;
    }
    
    .group-footer{
        padding-inline-start: 4px;
        padding: 4px 4px 0 4px ;
    }

    .group-header{
        .group-title{
            background-color: transparent;
            border: none;
            padding: 5px;
            width: 200px;
            
            &:focus {
                height: 30px;
                border-radius: 7px;
                background-color: white;
            }

            &:focus-visible {
               outline: 2px solid $focusInput;
            }
        }
    } 
    
    .group-btn{
        width: 32px;
        &.add-task-btn{
            width: max-content;
            flex-grow: 1;
            justify-content: left;
            padding: 8px;
            
        }
        
       &:hover{
           @include btns-group;
        }
    }
}